__pycache__/
*.py[cod]
*.pyo
*.pyd

.venv/
venv/
env/
ENV/

.ipynb_checkpoints/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

output/
model/*.joblib
model/*.pkl

.DS_Store
Thumbs.db
.vscode/
report